.dropdown-container {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%; /* Posicionar el menú debajo del icono */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }